.Container {
  height: 90.4vh;
  width: 100%;
  background: rgb(112, 143, 126);
  background: linear-gradient(
    90deg,
    rgba(112, 143, 126, 1) 12%,
    rgba(16, 103, 64, 1) 62%,
    rgba(2, 47, 26, 1) 100%
  );
  position: absolute;
}

.Container .img {
  position: relative;
  height: 60vh;
  width: 55vw;
  top: 15vh;
  left: 23vw;
}

.card {
  position: absolute;
  width: 15%;
  height: 35%;
  display: flex;
  flex-direction: column;
  top: 220px;
  left: 28%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.container {
  padding: 15% 17px 10px;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.header {
  font-family: "Orbitron", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  // background-color: red;
  font-size: 30px;
  font-style: italic;
}

.card2 {
  position: absolute;
  width: 15%;
  height: 35%;
  display: flex;
  flex-direction: column;
  top: 220px;
  left: 58%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

$green: #1b8f1f;
$light-green: #c0f7c2;
$darkgreen: #209c47;
$lighr-green: #e6ffe6;
$white: #fff;

.Container .btn {
  position: absolute;
  top: 78vh;
  left: 44vw;
  -webkit-appearance: none;
  background: -webkit-gradient(
    to right,
    $green 7%,
    $lighr-green 50%,
    $darkgreen 100%
  );
  background: linear-gradient(
    to right,
    $green 0%,
    $lighr-green 50%,
    $darkgreen 100%
  );
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font: 1rem Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 170px;
  height: 40px;
}

.Container .btn:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}
